.mainDiv {
  padding: 15px;
}

.boldLetter {
  font-weight: bold;
}

.totalWord {
  font-size: medium;
  font-weight: bold;
}

.quantity {
  font-size: 2rem;
  font-weight: bold;
  word-break: break-all;
}
